@import "./variables.scss";

.banner_container {
  height: $bannerHeight;
}

.battleship_title {
  display: flex;
  justify-content: center;
}

.game_row {
  height: $boardSize + $bannerHeight + $footerGap;
}

.col-left {
  // vertical center
  height: 100%;

  display: flex;
  justify-content: center;

  // background-color: rgb(235, 169, 83);
}
.col-mid {
  // vertical center
  // height: 100%;
  // position: relative;

  // background-color: rgb(148, 155, 46);
}
// .col-right {
//   background-color: rgb(46, 155, 146);
// }
.col-mid-content {
  display: flex;
  justify-content: center;
}

.txt_mesPieces_align {
  text-align: right;
}

.shipContainer {
  margin-top: 10px;
}

.txt_mesCoups {
  padding-right: $boardTitlePush;
}
.txt_sesCoups {
  padding-left: $boardTitlePush;
}
