@import "./variables.scss";

.board {
  // vertical center
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  background-color: cornflowerblue;

  display: grid;
  grid-template-columns: repeat(10, calc($boardSize/10));
  grid-template-rows: repeat(10, calc($boardSize/10));

  height: $boardSize;
  width: $boardSize;
}

.eachTile {
  background-image: linear-gradient(to bottom right, red, yellow);
}

.tileBg {
  // background-color: crimson;
  height: calc($boardSize/10);
  width: calc($boardSize/10);
}
