@import "./variables.scss";

.boardArt {
  background-image: url("../image/battleship/board1.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 35px;
  background-position: center;
}
.boardOppArt {
  background-image: url("../image/battleship/board2.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 35px;
  background-position: center;
}

.board {
  // vertical center
  // margin: 0;
  // position: absolute;
  // top: 50%;
  // -ms-transform: translateY(-50%);
  // transform: translateY(-50%);

  display: grid;
  grid-template-columns: repeat(10, calc($boardSize/10));
  grid-template-rows: repeat(10, calc($boardSize/10));

  height: $boardSize;
  width: $boardSize;
}

.tileBg {
  // background-color: crimson;
  height: calc($boardSize/10);
  width: calc($boardSize/10);
}
