$bannerHeight: 100px;

$boardSize: 500px;
$tileColor: linear-gradient(to bottom right, rgb(175, 188, 73), yellow);
$tileColorOpp: linear-gradient(
  to bottom right,
  rgb(207, 89, 50),
  rgb(0, 157, 255)
);

$tileBorder: 1px solid rgba(0, 0, 0, 0.545);
$tileBorderOpp: 1px solid rgba(255, 0, 0, 0.676);
